<!DOCTYPE html>


<title>Mehdi Project</title>

<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>

<div class="page">

  <h1>Stock Price History</h1>

  <div class="metanav">

    	

    <h4>
      Please enter a stock ticker eg. GOOG, and select desired feature.
    </h4>

    	
    
    <form id="input" method="post" action="graph">
      <p>

    Ticker symbol: <input type="text" name="ticker">

      </p>

     <p>

    <input type="radio" name="features" value="Close" checked> Closing price <br>

    <input type="radio" name="features" value="Adj. Close"> Adjusted closing price <br>

    <input type="radio" name="features" value="Open"> Opening price <br>

    <input type="radio" name="features" value="Adj. Open"> Adjusted opening price <br>

      <p>

      </p>


    <input type="submit" value="Submit">

     </p>

    </form>

  	

   </div>
	
</div>

</html>